.box{
   @include box;
   padding: 100px 85px 0 85px;
   text-align: center;
   height: 577px;
   margin-bottom: 351px;
  h3{
    margin-bottom: 32px;
    font-family: 'Fraunces', serif;
    color: $white;
    font-size: 40px;
    line-height: 48px;
    
    
  }
  .box_txt{
    margin: 0;
    width: 540px;
    color: $white;
    font-size: $fsz;
    line-height: 26px;
    opacity: 0.8;
    margin: 0 auto;
    margin-bottom: 86px;

  
  }

  .box__cards {
    display: flex;
    // align-items: center;
    gap: 30px;
  


    .card{

      padding: 72px 48px 48px 48px;
      background: $green;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 8px;
      
      

      .box__card_txt{
        color: $white;
        font-size: $fsz;
        line-height: 26px;
      

        
      }

      .card__img{
        margin-bottom: 67px;
      }

      img{
        margin-bottom: 56px;

      }

    

    }

    .card:last-child{
      padding-top: 83px;
    }

    h3{
      margin: 0;
      font-family: 'Fraunces', serif;
      color: $white;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 24px;

    }

    p{
      width: 255px;
      font-family: 'Barlow', sans-serif;
      color: $white;
      font-size: $fsz;
      line-height: 26px;
      text-align: center;
      

    }
  

}

@media only screen and (max-width:1280px){
  height: 573px;
  padding: 71px 58px 70px 57px;
  margin-bottom: 434px;

 h3{
  margin: 0;
  margin-bottom: 24px;
 }


  .box_txt{
    margin-bottom: 70px;
  }

  .box__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .card:last-child{
      padding-top: 41px;
    }

    .card{
      width: 573px;
      display: flex;
      flex-direction: row;
      gap: 55.5px;
      padding: 41px 48px 41px 70.5px;

      img{
        width: 55px;
        height: 56px;
        margin-bottom: 0;
      }

      .card__img{
        margin: 0;
      }
      

      .box__card_txt{
        width: 344px;
        text-align: left;
        font-size: 15px;
        line-height: 25px;
        margin: 0;
       
      }

      h3{
        text-align: left; 
        margin-bottom: 16px;
      }
      
    }
  }

  h3{
    font-size: 32px;  
   
  }

  p{
    font-size: 15px;
    line-height: 25px;
    
  }

  





}
@media only screen and (max-width: 768px){
  height: 902px;
  padding: 64px 24px 0px 24px;
  margin-bottom: 717px;

 h3{
  margin: 0;
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 1;
}


  .box_txt{
    width: 279px;
    margin-bottom: 64px;
    text-align: center;
  }

  .box__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .card:last-child{
      padding-top: 83px;
      padding-bottom: 48px;

      
    }

    .card{
      width: 279px;
      flex-direction: column;
      gap: 0;
      padding: 72px 12px 51px 12px;

      img{
        width: 71px;
        height: 72px;
        margin-bottom: 56px;
      }

      .card__img{
        margin: 0;
        margin-bottom: 67px;
        width: 72px;
        height: 50px;
      }
      

      .box__card_txt{
        text-align: center;
        width: 212px;
        margin: 0;
       
      }

      h3{
        text-align: center;
        margin-bottom: 24px;
        width: 225px;
      }
      
    }
  }

  h3{
    font-size: 32px;  
   
  }

  p{
    font-size: 15px;
    line-height: 25px;
    
  }

  





}
}


