.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    align-items: center;

    .header__link{
      text-decoration: none;
    }

    
    }

    @media only screen and (max-width: 668px){
      .header{
        position: relative;
      }

     

      
    }
    
  



