.nav__navbar{
    margin: 0;
    
}
    .navbar__nav-item{
      display: inline-block;
      margin-left: 32px;
    }
    
    .navbar__nav-link{
      text-decoration: none;
      color: $gray;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.923077px;
      text-transform: uppercase;

    }


    .header__button{
      background: transparent;
      border: 0;
      cursor: pointer;
      display: none;
    }

    @media only screen and (max-width: 768px){
      .nav__navbar:not(:nth-child(2)){
        display: none;
      }

      .header__button{
        display: block;
        margin-left: auto;
      }

      
    }


  